
  
  .navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color:black;
    color: white;
    padding: 50px 50px ;
    margin: auto 20px;
    font-size: 20px;
    border-bottom: 5px solid whitesmoke;
  
  }
  /* .navbar .logo{
    margin-left: 20px ;
    font-weight: 900px;
    text-transform: uppercase;
    
  } */
  .navbar .logo img{
    height: 200px;
    width: 300px;
    filter: invert(100%);
  }
  /* .navbar input{
    padding: 6px;
    width:200px;
    border-radius: 15px;
    border: none;
    background-color: rgb(238, 237, 237);
  } */
  .navbar .search{
    position: relative;
    transform:translateX(-140px);
    cursor: pointer;
  }
  .links{
    
    margin-left: 0;
  }
  
  .links ul{
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  
  }
  .links ul li{
    text-decoration: none;
    list-style: none;
    color: rgb(238, 237, 237);
    letter-spacing: 0.7px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .links ul li:hover {
  color: gold;
  font-weight: 600px;
  
  }